* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E5e5e5;
}

/* TOPO */
.topo{
    width: 100%;
    height: 69px;

    background-color:#EC362D ;

    display: flex;
    align-items: center;
    justify-content: center;   

    position: relative;
    
}
.topo p{
    font-weight: 700;
    font-size: 37px;
    color: white;    
}

.criarQuizz{
    width: 1051px;
    height: 181px;


    background-color: white;

    border-radius: 5px;
    border: dashed #D4D4D4 2px;
    margin: 0 auto;
    margin-top: 77px;
    cursor: pointer;
}
.seusQuizzes{
    width: 1065px;
    height: 250px;

    background-color: white;

    overflow: scroll;

    border-radius: 5px;
    margin: 0 auto;
    margin-top: 77px;
}
.containerSeus{

    margin: 0 auto;
    width: 1065px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: auto;

}
.seusQuizz{
    margin-left: 14px;
    background-color: green;
    width: 340px;
    height: 181px;

    border-radius: 5px;
 
}
.tituloSeus{
    display: flex;
    align-items: center;

    margin-left: 14px;
    font-weight: 700;
    font-size: 20px;
}
.tituloSeus ion-icon{
    color: #EC362D;
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.container{
    width: 250px;
    margin: 0 auto;
    padding-top: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
.container button{
    all: unset;
    width: 136px;
    border-radius: 50px;
    background-color: white;
    font-size: 21px;
    text-align: center;
    color: #EC362D;
    border: dashed #EC362D;
    cursor: pointer;

   
}
.mensagemCriar{
    width: auto;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    color:#B9B9B9;
    padding-bottom: 30px;
    text-align: center;
   
}

.listaQuizzes{
    width: 1065px;
    height: 421px;
    margin: 77px auto;
}
.tituloLista{
    font-weight: 700;
    font-size: 20px;
    margin-left: 14px;
    
}


.C1{
    display: flex;
    overflow: hidden;
    
}

.C2{
    display: flex;
    overflow: hidden;
}
.quizz{
    position: relative;
    margin-left: 14px;
    margin-bottom: 14px;

    width: 341px;
    height: 181px;

    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    
}
.quizz img{
    width: 100%;
    height: 100%;
    /* mask-image: linear-gradient(to bottom, white, black 120%); */
    position: absolute;
}
.quizz:before{
    background-image: linear-gradient(to bottom, white, black 120%);
    z-index: 8;
}
 .title{
    position: absolute;
    bottom: 5px;
    left: 17px;

    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;

    word-break: break-all;

    height: auto;
    width: 280px;

    background-color: green;
}

.selecionado{
    color: green;
}



@media (max-width: 1100px){

    .C1{
        flex-direction: column;
        width: 100%;
    }
    .C2{
        flex-direction: column;
        width: 100%;
    }
    .criarQuizz {
        width: 100%;
    }
    .listaQuizzes{
        width: 100%;
    }
    .topo{
        width: 100%;
    }
    .containerLista{
        width: 100%;
        margin: 0 auto;
     
    }
    .tituloLista{
        width: 100%;
        margin: 0 auto;
    }
    .quizz{
        width: 100%;
        margin: 14px auto;
       
    }
    .seusQuizzes{
        width: 100%;
        margin: 0 auto;
    }
    .containerSeus{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .seusQuizz{
        width: 100%;
        margin: 10px auto;
    }
    .tituloSeus{
        width: 100%;
        margin-left: 0;
    }
}

.homeRespondendoQuizz{
    margin: 0 auto
}
.tituloQuizz{
    width: 100%;
    height: 227px;

    margin-bottom: 70px;
}
.tituloQuizz p{
    position: absolute;
    top: 150px;
    left: 32%;
    
    font-size: 39px;
    font-weight: bold;
    color: white;

    z-index: 4;
}

 .tituloQuizz img{
    width: 100%;
    height: 227px;

    filter: grayscale(0.6);

} 

.containerRespondendoQuizz{

    width: 685px;
    height: auto;
    margin: 0 auto;

}
.containerRespostas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.containerRespostas img{
    width: 330px;
    height: 150px;
}
.perguntaRespondendoQuizz{
    width: 100%;
    height: 140px;

    margin-bottom: 20px;

    background-color: #434CA0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.perguntaRespondendoQuizz p{
    width: 500px;
    height: auto;

    word-wrap: normal;

    

    font-size: 23px;
    font-weight: 700;
    color: white;
}
.perguntaRespondendoQuizz img{
    width: 330px;
    height: 175px;

}
.respostas{
        width: 330px;
        height: 175px;

        margin-bottom: 62px;
}
.respostas p{
    width: 330px;
    height: 175px;
    word-break: break-all;

    font-size: 20px;
    font-weight: 700;
}



/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;

    background-color: #e5e5e5;
} */

.criacao-quiz {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 140px;

    background-color: #E5e5e5;
}

.criacao-quiz h2 {
    font-size: 23px;
    font-weight: 700;
    color: #000000;
}

.infos-basicas {
    height: 256px;
    width: 600px;

    display: flex;
    gap: 9px;
    flex-direction: column;
    align-items: center;
    
    margin-top: 27px;
    margin-bottom: 85px;
    padding: 21px 20px 24px 16px;

    background-color: #ffffff;
}

input {
    height: 46px;
    width: 564px;
    
    border: 1px solid #d1d1d1;
    border-radius: 5px;

    padding-left: 26px;
}

::placeholder {
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
}

.criacao-quiz button {
    height: 54px;
    width: 368px;

    border: none;
    border-radius: 15px;

    background-color: #EC362D;

    font-size: 21px;
    font-weight: 400;
    color: #fff5f4;
}

.criacao-perguntas {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 132px;
    margin-bottom: 600px;

}

.criacao-perguntas h2 {
    font-size: 23px;
    font-weight: 700;
    color: #000000;
}

.pergunta {
    height: 825px;
    width: 600px;

    
    display: flex;
    gap: 14px;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 36px;
    padding: 27px 20px 27px 16px;

    background-color: #ffffff;
}

.pergunta h3 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.espaco {
    margin-bottom: 20px;
}

.criacao-perguntas button {
    height: 54px;
    width: 368px;

    border: none;
    border-radius: 15px;

    margin-top: 80px;

    background-color: #EC362D;

    font-size: 21px;
    font-weight: 400;
    color: #fff5f4;
}

.criacao-niveis {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 132px;
    margin-bottom: 14px;

}

.criacao-niveis h2 {
    margin-bottom: 36px;
}

.nivel-header {
    height: 74px;
    width: 564px;

    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nivel-header ion-icon {
    font-size: 26px;
    color: #000000;
}

.nivel {
    height: 316px;
    width: 600px;

    padding: 0px 20px 27px 16px;

    background-color: #ffffff;

    margin-bottom: 24px;
}

.nivel h3 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.nivel-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.criacao-niveis button {
    height: 54px;
    width: 368px;

    border: none;
    border-radius: 15px;

    margin-top: 80px;

    background-color: #EC362D;

    font-size: 21px;
    font-weight: 400;
    color: #fff5f4;
}


.nivel-content.escondido {
    height: 0px;
}

.criacao-sucesso {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criacao-sucesso h2 {
    font-size: 23px;
    font-weight: 700;
    color: #000000;
}

.quiz-btn {
    height: 44px;
    width: 220px;
    
    border: none;
    border-radius: 15px;
    
    margin-top: 45px;
    margin-bottom: 9px;
    
    background-color: #EC362D;
    
    font-size: 21px;
    font-weight: 400;
    color: #fff5f4;
}

.home-btn {
    height: 44px;
    width: 220px;
    
    border: none;
    border-radius: 15px;
    
    font-size: 21px;
    font-weight: 400;
    color: #818181;
}

.escondido {
    display: none;
}